<section>
    <div class="form-group">
      <label for="Title"></label>
      <input type="text" class="form-control" ng-model='taskdetails.tasktitle'  placeholder="Title">
     
    </div>
    <div class="form-group">
      <label for="Description"></label>
      <input type="text" class="form-control" ng-model='taskdetails.taskdiscription'   placeholder="Description">
      
    </div>
    <div class="form-group">
      <label for="Date"></label>
      <input type="Date" class="form-control" ng-model='taskdetails.taskDate'  placeholder="Date">
     
    </div>
</section>