<section class="container"> 
    <table style="font-size: 20px;" class="text-center table table-striped table-bordered table-hover ">
        <thead>
            <tr>
                <th>Delete</th>
                <th>SubTask Title</th>
                <th>SubTask Description</th>
                <th>Priority</th>

                <th>Date</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="subtask in subtasksData">
                <td>
                    <button id='{{subtask._id}}' ng-click='deleteSubtask($event)' type="button"
                        class="btn   btn-danger">Delete</button>
                </td>
                <td> <a href="#!/subtaskdetails/{{subtask._id}}">{{subtask.tasktitle}}</a> </td>
                <td>{{subtask.taskdiscription}}</td>
                <td>{{subtask.priority}}</td>

                <td>{{subtask.taskDate | date : mm/dd/yyyy }}</td>

            </tr>
            <tr>
                <td>

                    <p>
                        <button type="button" class="btn btn-sm btn-success" ng-click='addSubTask()'>
                            <span class="glyphicon glyphicon-plus-sign"></span>Add Sub Task</button>
                    </p>
                </td>
                <td>
                    <div class="form-group">

                        <input type="text" ng-model='tasktitle' class="form-control" aria-describedby="helpId"
                            placeholder="Enter Title of Your Sub Task">

                    </div>
                </td>

                <td>
                    <div class="form-group">

                        <input type="text" ng-model='taskdiscription' class="form-control" aria-describedby="helpId"
                            placeholder="Enter Description of Your Sub task">

                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select ng-model='priority' class="form-control " placeholder="Select Priority">
                            <option value="High">High</option>
                            <option value="Low">Low</option>
                        </select>
                    </div>
                </td>
                <td>

                    <div class="form-group">

                        <div>
                            <input id="datepicker" ng-model='taskDate' class="form-control" width="270"
                                required="required" />

                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
<script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap'
        });
    </script>