<section>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">{{name.fname}}</h1>
            <h3 class="display-3">{{name.lname}}</h3>
            <p class="lead">contact: {{mobileno}} </p>
            <p class="lead">
                <a class="btn btn-warning btn-lg" ng-click='editProfile()' role="button">Edit User</a>
            </p>
            
            <hr class="my-2">
            <p>Click For View Task</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" ng-click='viewTask()'  role="button">View Task</a>
            </p>
        </div>
    </div>
</section>